<h1>LOGIN</h1>

<form action="/users/login" method="post">
  Email<input type="text" name="email" id="" required />
  Password<input type="password" name="password" id="" required />
  <input class="btnLogin" type="submit" value="LOGIN" />
</form>

<h2>NEW USER?</h2>
<button class="btnMove" onclick="location.href='/vistas/register'">GO REGISTER</button>