<h1>PROFILE</h1>

<h2>Bienvenido</h2>
{{!--  <h4>Nombre: {{first_name}}</h4>
 <h4>apellido: {{last_name}}</h4>
 <h4>email: {{email}}</h4>
 <h4>edad: {{age}}</h4> --}}

<button class="btnLogout" onclick="location.href='/vistas'">Logout</button>