{{>header}}

<h2>Desafío clase 10 </h2>

<h3> Lista de productos con Websocket</h3>


<div id="productDiv" >

</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>